/*
	Variables
*/

// Type

$sans-family: "ff-dagny-web-pro" , "Helvetica Neue" , "Helvetica" , sans-serif;
$serif-family: "chaparral-pro" , "Georgia" , serif;

// Breakpoints

$mobile: 480px;
$tablet: 960px;
$desktop: 1200px;

// Color

$dark: rgb(20,20,20);
$grey: rgb(190,190,190);
$mid-grey: rgb(100,100,100);